.site-footer {
  padding: var(--space-s-m);
  background: var(--color-dark);
  color: var(--color-light);

  ul {
    display: flex;
    list-style: none;
    justify-content: center;
    column-gap: var(--space-s-m);
    margin: 0;
    padding: 0;
  }
}


