.site-footer {
  padding: var(--space-s-m);
  background: var(--color-dark);
  color: var(--color-light);
}

.site-footer__inner {
  display: flex;
  gap: var(--space-xs-s);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

