.site-head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-block: var(--space-s-m);

  ul {
    display: flex;
    list-style: none;
    column-gap: var(--space-s-m);
    margin: 0;
    padding: 0;
  }
}
