<footer class="site-footer">
    <nav>
        <ul id="nav-list">
            <li>Make with ♥ and hula</li>
            <li><a href="/terms">Terms</a></li>
            <li><a href="/privacy">Privacy</a></li>
        </ul>
    </nav>
</footer>