<header class="site-head wrapper">
    <a href="/" class="logo">orangegrau</a>
    <nav>
        <ul id="nav-list">
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>
</header>